html {background-color: rgb(255, 155, 189);
padding: 20%;
padding-top: 0%;
padding-bottom: 0%;
text-align: center;
line-gap-override: 1%;}

li {color: black;
    padding: 10px;
    text-align: start ;}

img {margin: 0 auto;}

header {color: white;}

footer {color: black;}

p {color: white;}